.book-card {
  position: relative;
  height: 100%;
  transition: all 0.3s ease !important;
  display: flex;
  flex-direction: column;
}

.book-card:hover {
  /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
  transform: scale(1.05);
  transition: all 0.3s ease !important;
}

.book-imagecontainer {
  width: 200px;
  height: 300px;
  position: relative;
  background: #f9f9f9;
  display: flex;
  margin: 0 auto;
  margin-top: 30px;
}

.book-image2 {
  object-fit: contain;
}

.book-content {
  padding: 1rem 2.5rem !important;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.book-link {
  text-decoration: none;
  color: black;
}

.book-title2 {
  color: #333;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-weight: 600 !important;
}

.book-price-container {
  margin-top: auto;
  padding-top: 1rem;
}

.book-price {
  font-size: 1.2rem !important;
  font-weight: 700 !important;
  color: #c49a6c;
}

.book-original-price {
  font-size: 0.9rem;
  color: #999;
  text-decoration: line-through;
  margin-left: 0.5rem;
}

.book-stock {
    position: absolute;
    top: 15px;
    left: 15px;
    padding: 5px 10px;
    background: #979797;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 0.9rem;
    border-radius: 8px 0 8px 0;
    z-index: 2;
}

.book-discount {
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 5px 10px;
    background: #f02d2d;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 0.9rem;
    border-radius: 0 8px 0 8px;
    z-index: 2;
}

.book-wishlist-btn {
  position: absolute;
  bottom: 16px;
  right: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  opacity: 1;
  transform: translateY(0);
}

.book-wishlist-btn.animate-in {
  animation: slide-up 0.3s ease;
}

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}